<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对-->
<mapper namespace="com.kinman.mapper.NewsMapper">
    <!--    条件查询-->
    <select id="findByPage" resultType="com.kinman.pojo.News">
        select * from news
        <where>
            <!--            因为name是string类型,不传入东西的时候默认值是空字符串-->
            <if test="title != null and title != ''">title like concat('%',#{title},'%')</if>
            <if test="begin != null">
                and update_time between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>
    <!--    批量删除新闻-->
    <delete id="deleteBat">
        delete from news
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>